@import '../../variables';

.navbar {
  align-items: center;
  height: 44px;
  width: 100%;
  max-width: $page-width;
  margin: auto;
  top: 0;
  display: flex;
  justify-content: space-between;
  a, button{
    color: #fff;
    padding: 0 10px 0 10px;
  }
}
