@import '../variables';

.bottomNavRoot {
  width: 100%;
  background-color: $grey-100;
  z-index: 1;
  position: sticky;
  top: 0;
}
.bottomNav {
  display: flex;
  justify-content: space-around;

  width: 100%;
  max-width: 600px;
  margin: auto;
  z-index: 1;
  width: 100%;
  a {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #999;
  }
  .active {
    color: $primary-color;
    border-bottom: solid 3px;
  }
  i {
    margin: auto;
    font-size: 20px;
  }
}
