@import '../variables';

.footer {
    width: 100%;
    background-color: $grey-100;
  }
  
  .feeback {
    text-align: center;
    padding: 16px 10px 16px 0;
    i {
      vertical-align: middle;
      padding-right: 3px;
      font-size: 18px;
    }
  }