@import '../variables';

.navBar {
  background-color: $primary-color;
  height: 44px;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
}
.title {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  a {
    color: #fff;
  }
  max-width: $page-width;
  width: 100%;
  margin: auto;
}
