@import '../variables';

.navbar {
  background-color: $primary-color;
  height: 44px;
  width: 100%;
}

.navInner {
  max-width: $page-width;
  margin: auto;
  align-items: center;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  a {
    color: #fff;
  }
  > div {
    width: 20%;
  }
}

.pagetitle {
  width: 60% !important;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 11px 8px 11px 10px;
}
